<div class="row">
	<div class="col-md-2">
		<a href="#/add" class="btn btn-default">Add Product</a>	
	</div>
	<div class="col-md-6">
		<input type="text" placeholder="Search here..." ng-model="keyword" class="form-control" />	
	</div>
</div>
<br/><br/>
<div class="block">
	* minimum order may apply
</div>
<div id="container">
	<div infinite-scroll="nextPage()" infinite-scroll-distance="10">
		<div class="brick" ng-repeat="item in items | filter:keyword">
		        <img ng-src="{{ item.image }}" alt="{{item.name}}">
		        
		        <h4>
		           <div class="spacer"><b>{{item.name}}</b></div>
		           <div class="spacer" ng-if="item.category_name">Category: {{item.category_name}}</div>
		           <div class="spacer" ng-if="!item.category_name">Category: Uncategorized</div>
		           <div class="spacer" ng-if="item.price != 0">
		           	   <span>IDR {{ item.price }}/pcs *</span>
		           	   <a href="#/edit/{{item.id}}" title="Edit"><i class="fa fa-pencil"></i></a>
		           	   <a href="#" ng-click="$parent.remove($index)" title="Remove"><i class="fa fa-trash"></i></a>
		           	   <a href ng-click="$parent.showBigger($index)" title="View Bigger Image"><i class="fa fa-search"></i></a>
		           </div>
		        </h4>
		</div>
		<div ng-if="busy">Loading data...</div>
	</div>	
</div>

<script type="text/ng-template" id="templateId">
	<div>
		<img ng-src="{{image}}" />
	</div>    	
</script>