<a href="#/list" class="btn btn-warning">Back</a>
<br/><br/>
<form ng-submit="submit()" ng-init="input={ visible: 'Y' }">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" ng-model="input.name" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" ng-model="input.description"></textarea>
	</div>
	<div class="form-group">
		<label>Visible</label>
		<div class="checked">
			<input type="checkbox" ng-model="input.visible" ng-true-value="Y" ng-false-value="N" />
		</div>
	</div>
	<div class="form-group">
		<label>Upload image</label>
		<input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
		<img class="border" ng-if="input.image" ng-src="{{ input.image }}" />
		<progressbar ng-if="isUploading" class="progress-striped active" value="progress" type="info"></progressbar>
	</div>
	
	<input type="submit" class="btn btn-primary" value="Save">
</form>