<a href="#/add" class="btn btn-default">Add Category</a>
<br/><br/>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Category Name</th>
		</tr>		
	</thead>
	<tbody>
			<tr ng-if="items.length==0">
				<td>
					No data found
				</td>
			</tr>
			<tr ng-repeat="item in items">
				<td >
					<a href="#/edit/{{item.id}}"><i class="fa fa-pencil">&nbsp;&nbsp;&nbsp;</i></a>
					<a href="#" ng-click="$parent.remove($index)"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;</i></a>
					<img ng-src="{{ item.image }}" />
					<span class="padding">{{ item.name }}</span>
				</td>
			</tr>			
	</tbody>
</table>