.padding {
	padding-left: 30px;
}
.block {
	padding: 10px;
}
.border {
	margin-top: 20px;
	padding: 10px;
	border: solid 1px #ccc;
}

#container {
	
    -moz-column-count: 5;
    -moz-column-gap: 15px;
    -webkit-column-count: 5;
    -webkit-column-gap: 15px;
    column-count: 5;
    column-gap: 15px;
    width: 100%; 
	
}
#container div {
	padding-bottom: 5px;
}
.details {
	position: static;
}
.details h4 {
	color: #C73508;
}
.spacer {
	padding-left: 10px;
	padding-top: 2px;
}
.brick { 
   position: relative; 
   width: 100%; /* for IE 6 */
   margin-bottom: 160px;
   
}
.brick img {
	box-shadow: 2px 2px 5px #ccc;
}
.brick h4 { 
   position: absolute;
   display: inline; 
   bottom: -75px; 
   left: 0px; 	
   width: 200px; 
   z-index: 999;
   font-size: 16px;
   background-color: #000;
   color: #fff;
   opacity: 0.5;
   font-size: 12px;
   padding-top: 10px;
   box-shadow: 2px 2px 5px #ccc;
}
.brick a {
   color: #fff;
}
.amount {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.small  {
	font-size: 10px;
}
.big {
	font-size: 24px;
}