<form ng-submit="searchClick()">
<div class="row">
	<div class="col-md-2">
		<span class="spacer">Start Date</span>
	</div>
	<div class="col-md-2">
		<span class="spacer">End Date</span>
	</div>
	<div class="col-md-3">
		<span class="spacer">Status</span>
	</div>
	<div class="col-md-3">
		<span class="spacer">Customer Name</span>
	</div>
	<div class="col-md-2"></div>	
</div>
<div class="row">
	 <div class="col-md-2">
	 		
            <p class="input-group">
            	 <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" 
				       ng-model="startDate" 
				       is-open="opened1" 
				       datepicker-options="dateOptions" 
				       date-disabled="disabled(date, mode)"
				       ng-required="true" 
				       close-text="Close" />
            	 <span class="input-group-btn">
                	<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              	 </span>
 			</p>
 	 </div>
 	 <div class="col-md-2">
 	 		 <p class="input-group">
 	 		 	 
            	 <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" 
				       ng-model="endDate" 
				       is-open="opened2" 
				       datepicker-options="dateOptions" 
				       date-disabled="disabled(date, mode)"
				       ng-required="true" 
				       close-text="Close" />
            	 <span class="input-group-btn">
                	<button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              	 </span>
 			</p>
 	 </div>
 	 <div class="col-md-3">
		<select class="form-control" ng-model="status">
			<option value="">ALL</option>
			<option value="N">New Order</option>
			<option value="C">Waiting Customer Confirmation</option>
			<option value="O">On Process</option>
			<option value="W">Waiting Customer Payment</option>
			<option value="V">Void</option>
		</select>
	 </div>
	 <div class="col-md-3">
	 		<input type="text" ng-model="customer" class="form-control" />
	 </div>
 	 <div class="col-md-2">
 			<input type="submit" value="Search" class="btn btn-default" />	 
 	 </div>
</div>
</form>
<div class="row">
	 <div class="col-md-12">
		 		<a href="#/add" class="btn btn-default">Add New Order</a>
	 </div>
</div>
<br/>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Action</th>
			<th>Doc No</th>
			<th>Doc Date</th>
			<th>Customer</th>
			<th>Grand Total</th>
			<th>Status</th>
		</tr>		
	</thead>
	<tbody>
			<tr ng-if="items.length==0">
				<td colspan="6">
					No data found
				</td>
			</tr>
			<tr ng-repeat="item in items">
			
				<td >
					<a href="#/view/{{item.id}}"><i class="fa fa-search">&nbsp;&nbsp;&nbsp;</i></a>
					<a href="#" ng-click="$parent.remove($index)"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;</i></a>
				</td>
				<td>
					<span class="padding">{{ item.doc_no }}</span>
				</td>
				<td>
					{{ item.doc_date | dateTime }}
				</td>
				<td>
					<span>{{ item.first_name }}</span>
					<span ng-if="item.last_name">, {{ item.last_name }}</span>
				</td>
				<td class="amount">
					{{ item.grand_total | thousandSep }}
				</td>
				<td>
					<span class="label label-success" ng-if="item.status_doc=='N'">New Order</span>
					<span class="label label-info" ng-if="item.status_doc=='C'">Waiting Customer Confirmation</span>
					<span class="label label-warning" ng-if="item.status_doc=='W'">Waiting Customer Payment</span>
					<span class="label label-default" ng-if="item.status_doc=='O'">On Process</span>
					<span class="label label-danger" ng-if="item.status_doc=='V'">Void</span>
				</td>
			</tr>			
	</tbody>
</table>