<div>
	<div class="row">
		<div class="col-md-12">
			<a href="#/list">Back to Order List</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Doc No
		</div>
		<div class="col-md-6 bold big">
			{{ data.header.doc_no }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Doc Date
		</div>
		<div class="col-md-6 bold">
			{{ data.header.doc_date | dateTime }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Customer
		</div>
		<div class="col-md-6 bold">
			{{ data.header.first_name }}, {{ data.header.last_name }}
			
			<a href popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" popover-placement="bottom">View Details</a>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-3">
			Remark
		</div>
		<div class="col-md-6">
				{{ data.header.remark }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Grand Total
		</div>
		<div class="col-md-6 big bold">
				IDR {{ data.header.grand_total - data.header.discount_amount | thousandSep }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			Status
		</div>
		<div class="col-md-9 bold">
			<span class="label label-success" ng-if="data.header.status_doc=='N'">New Order</span>
			<span class="label label-info" ng-if="data.header.status_doc=='C'">Waiting Customer Confirmation</span>
			<span class="label label-warning" ng-if="data.header.status_doc=='W'">Waiting Customer Payment</span>
			<span class="label label-default" ng-if="data.header.status_doc=='O'">On Process</span>
			<span class="label label-danger" ng-if="data.header.status_doc=='V'">Void</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-9 bold">
			<br/>
			<a href ng-click="changeStatus()" class="btn btn-warning"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;Change Status</a>
			<a href ng-click="mail()" class="btn btn-success"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Mail Customer</a>
		</div>
	</div>
	<br/><br/>
	<div class="row">
			<div class="col-md-12">
				<h4>Item Details <span class="small spacer fa fa-comment-o">&nbsp;&nbsp;&nbsp;<a href tooltip="Show the product ordered within this order">What's this</a></span></h4>
			</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			  <table class="table table-striped table-bordered">
				  	<thead>
				  		<tr>
					  		<th>No</th>
					  		<th>Product Name</th>
					  		<th>Qty</th>
					  		<th>Price (IDR)</th>
					  		<th>Sub Total (IDR)</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		<tr ng-repeat="item in data.details">
				  			<td>{{ $index+1 }}</td>
				  			<td>{{ item.product_name }}</td>
				  			<td class="amount">{{ item.qty }}</td>
				  			<td class="amount">{{ item.price | thousandSep }}</td>
				  			<td class="amount">{{ item.qty * item.price | thousandSep }}</td>
				  		</tr>
				  		<tr>
				  			<td></td>
				  			<td></td>
				  			<td colspan="2" class="bold">Total</td>
				  			<td class="amount">{{ data.header.grand_total | thousandSep }}</td>
				  		</tr>
				  		<tr>
				  			<td></td>
				  			<td></td>
				  			<td colspan="2" class="bold">Disount</td>
				  			<td class="amount">{{ data.header.discount_amount | thousandSep }}</td>
				  		</tr>
				  		<tr>
				  			<td></td>
				  			<td></td>
				  			<td colspan="2" class="bold">Total After Discount</td>
				  			<td class="amount bold">{{ data.header.grand_total - data.header.discount_amount | thousandSep }}</td>
				  		</tr>
				  	</tbody>
			  </table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Document Log <span class="small spacer fa fa-comment-o">&nbsp;&nbsp;&nbsp;<a href tooltip="Show the document changes log history">What's this</a></span></h4>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li ng-if="data.log.length==0">No record(s) found</li>
				<li ng-repeat="item in data.log">
					<span>{{item.created_at}}</span> - <em>{{item.message}}</em>
				</li>
			</ul>
		</div>
	</div>		
</div>

<script type="text/ng-template" id="changeStatusTpl">
	<div class="form-group">
		<select class="form-control" style="width: 250px" ng-model="new_status">
			<option value="N">New Order</option>
			<option value="C">Waiting Customer Confirmation</option>
			<option value="O">On Process</option>
			<option value="W">Waiting Customer Payment</option>
			<option value="V">Void</option>
		</select>
	</div>
	<div class="form-group">
		<input type="button" ng-click="changeStatusApply()" value="Change" class="btn btn-primary" />
	</div>
	    	
</script>